<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>453716678579-maukmr5gjfe3nsmv5atciig73rkbrdfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453716678579-maukmr5gjfe3nsmv5atciig73rkbrdfd</string>
	<key>API_KEY</key>
	<string>AIzaSyDyNnQm1xLeX628qd50a9fT_56XtuD2hYk</string>
	<key>GCM_SENDER_ID</key>
	<string>453716678579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryce.codairs</string>
	<key>PROJECT_ID</key>
	<string>proj-codairs</string>
	<key>STORAGE_BUCKET</key>
	<string>proj-codairs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:453716678579:ios:ed2f2e170215d769</string>
	<key>DATABASE_URL</key>
	<string>https://proj-codairs.firebaseio.com</string>
</dict>
</plist>